body{
}
.nav-ul {
    overflow: hidden;
    background-color: #101010;
	color: #fff;
    list-style-type: none;
    opacity: 0.9;
    font-size: 1.4vw;
}
.nav-ul li {
    float: left;
    padding: 1% 7%;

}
.nav-ul a {
    text-decoration: none;
    color: #FFCC00;
}
.nav-ul a:hover{
    border-bottom: 2px solid white;
}

.parallax {
    height: 100%;
    background-image: url('../img/beginning-eslhelpers.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax_1 {
    /*background-image: url('../img/Hearthstone Screenshot 02-14-16 16.54.06.png');*/
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax_1 h2{
    margin-left: 40%;
}

.slideshow{
    height: 36.vw;
    background-color:#E6E8E6;
    border-bottom: 5px solid black;
}

.rows{
    text-align: center;
    width: 50%;
    float: left;
}

.footer{
    margin-top: 2%;
    padding-bottom: 8%;
}

.facebook{
        background-image:url("../img/facebook.jpg" );
        background-attachment: center;
        background-position: center;
        background-repeat:no-repeat;
        background-size: cover; 
        padding-left:6%;
        padding-bottom: 2%;
        margin-left: 2%;      
        border: 1px solid white;
        border-radius: 30%;
        box-shadow: black 1px 1px 1px 1px ;

}

.google{
        background-image:url("../img/google.jpg");
        background-attachment: center;
        background-position: center;
        background-repeat:no-repeat;
        background-size: cover; 
        padding-left:6%;
        padding-bottom: 2%;
        margin-left: 2%;
        border: 1px solid white;
        border-radius: 30%;
        box-shadow: black 1px 1px 1px 1px;


}

.instagram{
        background-image:url("../img/instagram.jpg"); 
        background-attachment: center;
        background-position: center;
        background-repeat:no-repeat;
        background-size: cover;
        padding-left:6%;
        padding-bottom: 2%;
        margin-left: 2%;
        border: 1px solid white;
        border-radius: 30%;
        box-shadow: black 1px 1px 1px 1px;


}

.skype{
        background-image:url("../img/skype.jpg"); 
        background-attachment: center;
        background-position: center;
        background-repeat:no-repeat;
        background-size: cover;
        padding-left:6%;
        padding-bottom: 2%;
        margin-left: 2%;
        border: 1px solid white;
        border-radius: 30%;
        box-shadow: black 1px 1px 1px 1px;

}

.youtube{
        background-image:url("../img/youtube.jpg"); 
        background-attachment: center;
        background-position: center;
        background-repeat:no-repeat;
        background-size: cover;
        padding-left:6%;
        padding-bottom: 2%;
        margin-left: 2%;
        border: 1px solid white;
        border-radius: 30%;
        box-shadow: black 1px 1px 1px 1px;

}

.facebook:hover,.skype:hover,.google:hover,.instagram:hover,.skype:hover,.youtube:hover{
    padding-left: 8%;
    padding-top: 2%;
    transition:0.3s;
}




            