body{
    background-color: #E6E8E6;
}
.nav-ul {
    overflow: hidden;
    background-color: #F15025;
    list-style-type: none;
    opacity: 0.9;
    font-weight: bold;
    font-size: 1.4vw;

}
.nav-ul li {
    float: left;
    padding: 1% 7%;

}
.nav-ul a {
    text-decoration: none;
    color: black;

}
.nav-ul a:hover{
    color: green;
    border-bottom: 2px solid white;

}

.parallax {
    height: 100%;
    background-image: url('../img/beginning-eslhelpers.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax_1 {
    /*background-image: url('../img/Hearthstone Screenshot 02-14-16 16.54.06.png');*/
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax_1 h2{
    margin-left: 40%;
}
.slideshow{
    height: 36.8vw;
    background-color:#E6E8E6;
    border-bottom: 5px solid black ;

}


            