<link rel="stylesheet" href="CSS/HeaderFooter/nav.css">
<link rel="stylesheet" href="CSS/forms.css">
<script>
    $.ajax({
      type: "POST",
      url: "Models/ViewModels/getDifficultyLevels.php",
      success: function(data){
        var obj = JSON.parse(data);
        for (var i = 0; i < obj.length; i++) {
          $("#difficulty_level").append($('<option value=' + obj[i]["id"] + '>' + obj[i]["name"] + '</option>'));
        }
      }
    });
</script>
<div class="emo" >
  <form method="post" action="Controllers/courses_controller.php">
    <div class="form-group">
      <label for="name">Name</label>
      <input class="form-control" type="text" name="name" id="name" />
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea class="form-control" style="resize: vertical;" name="description" id="description"></textarea>
    </div>
    <input class="form-control" type="hidden" name="students_capacity" value="0" id="students_capacity" />
    <div class="form-group">
      <label for="difficulty_level">Difficulty Level</label>
      <select class="form-control" id="difficulty_level" class="difficulty_level" name="difficulty_level"></select>
    </div>
    <div class="form-group">
      <input class="form-control" type="hidden" value="create" name="action" />
    </div>
    <div class="form-group">
      <input class="btn btn-default" type="submit" value="Create" />
    </div>
  </form>
</div>
