<link rel="stylesheet" href="CSS/details.css">
<script type="text/javascript" src="JS/utils.js"></script>
<script>
  var id = getQueryVariable("id");

  $.ajax({
    type: "POST",
    url: "Models/ViewModels/getCourseById.php?id=" + id,
    success: function(data) {
      var obj = JSON.parse(data);
      $('#name').html(obj[0]["name"]);
      $('#description').html(obj[0]["description"] + ")");
      $('#difficulty_level').html("(" + obj[0]["difficulty"] + ")");

      $('#edit-btn').attr("href", '#/courses/' + id + "/edit");
    }
  });

  $.ajax({
    type: "POST",
    url: "Models/ViewModels/getLecturesByCourse.php?course=" + id,
    success: function(data){
      var obj = JSON.parse(data);
      for (var i in obj) {
        var lecture = obj[i];
        var div = $('<div class="row"></div>');
        var link = $('<div class="image"></div><div class="rows-3"><h3>' + lecture["title"] + '</h3><p>' + lecture["description"] + '</p>');
        div.append(link);
        $('#lectures').append(div);
      }
    }
  });

  $.ajax({
    type: "GET",
    url: "Controllers/Account/checkRole.php",
    success: function(role){
      if (role == 'admin') {
        var adminActions = $('<hr /><div id="operations"><a class="btn btn-default" href="#/courses/' + id + '/edit">Редактирай</a><a class="btn btn-default" href="#/courses/' + id + '/delete">Изтрий</a></div>');
        $('.emo').append(adminActions);
      }
    }
  });
</script>
<div class="emo">
  <h3 id="name"></h4>
  <p id="difficulty_level"></p>
  <hr>
  <p id="description"></p>
  <hr />
  <div id="lectures">
    <h4>Лекции</h4>
  </div>
</div>
