<link rel="stylesheet" href="CSS/details.css">
<script type="text/javascript" src="JS/utils.js"></script>
<script>
  var id = getQueryVariable("id");

  function deleteCourse() {
    if (confirm('Delete course?')) {
      $.ajax({
        type: "POST",
        url: "Controllers/courses_controller.php",
        data: { 'action': 'delete', 'id': id },
        success: function(result) {
          // TO-DO: redirect
        }
      });
    }
  }

  $.ajax({
    type: "POST",
    url: "Models/ViewModels/getCourseById.php?id=" + id,
    success: function(data) {
      var obj = JSON.parse(data);
      $('#name').html(obj[0]["name"]);
      $('#description').html(obj[0]["description"] + ")");
      $('#difficulty_level').html("(" + obj[0]["difficulty"] + ")");

      $('#edit-btn').attr("href", '#/courses/' + id + "/edit");
    }
  });

  $.ajax({
    type: "POST",
    url: "Models/ViewModels/getLecturesByCourse.php?course=" + id,
    success: function(data){
      var obj = JSON.parse(data);
      for (var i in obj) {
        var lecture = obj[i];
        var div = $('<div class="lecture"></div>');
        var link = $('<div><h3>' + lecture["title"] + '</h3><p>' + lecture["description"] + '</p>');
        div.append(link);
        $('#lectures').append(div);
      }
    }
  });

  $.ajax({
    type: "GET",
    url: "Controllers/Account/checkRole.php",
    success: function(role){
      if (role == 'admin') {
        var adminActions = $('<hr /><div id="operations"><a class="btn btn-warning" href="#/courses/' + id + '/edit">Edit</a><button class="btn btn-danger" onclick="deleteCourse()">Delete</button></div>');
        $('.emo').append(adminActions);
      }
    }
  });
</script>
<div class="emo">
  <h3 id="name"></h4>
  <p id="difficulty_level"></p>
  <hr>
  <p id="description"></p>
  <hr />
  <div id="lectures">
    <h3>Lectures</h3>
    <br />
  </div>
</div>
