#container {
    height: 100%;
    width: 100%;
    position: relative;
    vertical-align: middle;
}
.list {
    margin-left: 2%;
    height: 100%;
    width: 25%;
    float: left;
    background-color: #e3e3e3;
    border: 1px solid #f44336;
}
#header {
    padding-top: 0.01%;
    padding-bottom: 0.01%;
    width: 100%;
    background-color: #f44336;
    color: white;
    overflow-y: visible;
}
.list #list_users {
    height: 92%;
    overflow-y: scroll;
}
#header p {
    padding-left: 2%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.user {
    margin-top: 1%;
    width: 100%;
    background-color: white;
    cursor: pointer;
}
.user:hover {
    background-color: 	rgba(227, 227, 227, 0.5);
}
.user img {
    margin: 2%;
    width: 15%;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid #000;
    position: relative;
    display: inline;
    vertical-align: middle;
}
.user .name {
    font-size: 1.15vw;
    display: inline;
    margin: 2%;
    vertical-align: middle;
}
.showContent {
    display: none;
}
.chatBody {
    float: left;
    width: 40%;
    background-color: #e3e3e3;
    margin-left: 2%;
    border: 1px solid #f44336;
}
.chatHeader {
    width: 100%;
    padding-top: 0.1%;
    padding-bottom: 0.1%;
    background-color: #f44336;
}
.chatHeader p {
    padding-left: 2%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: white;
}
.chatBody #chatContent {
    height: 82%;
    overflow-y: scroll;
}
.ownMessage {
    float: right;
    width: 90%;
}
.ownMessage .messages {
    float: right;
    padding: 2%;
    margin: 3.6% 5% 0px;
    max-width: 80%;
    background-color: #fff;
    border-radius: 3px;
    color: #f44336;
    font-size: 1.2vw;
}
.otherMessage {
    float: left;
    width: 97%;
}
.otherMessage .messages {
    float: left;
    padding: 2%;
    margin: 3.6% 5% 0px;
    max-width: 62%;
    background-color: #f44336;
    border-radius: 3px;
    color: #fff;
    font-size: 1.2vw;
}
#typing {
    height: 10%;
    background-color: white;
}
#typing input {
    float: left;
    width: 70%;
    color: #000;
    border: none;
    border-bottom: 1px solid #808080;
    margin: 3%;
    padding-left: 1.4%;
    font-size: 1.15vw;
}
#typing #sendIcon {
    width: 7%;
    float: left;
    border-radius: 100%;
    overflow: hidden;
    cursor: pointer;
    margin-top: 1.5%;
    margin-left: 3%;
}
#typing #sendIcon img {
    float: left;
    width: 100%;
}
#userInfo {
    height: 100%;
    width: 25%;
    border: 1px solid #f44336;
    float: left;
    margin-left: 2%;
    text-align: center;
}
#profileHeader {
    background-color: #f44336;
    padding-top: 0.1%;
    padding-bottom: 0.1%;
}
#profileHeader p {
    text-align: left;
    color: white;
    padding-left: 2%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.profileInfoContent {
    width: 100%;
    padding-top: 5%;
    padding-bottom: 10%;
}
.profileInfoContent #profilePic img {
    width: 80%;
}
@media only screen and (max-width: 800px) {
    .list {
        width: 100%;
        margin-bottom: 2%;
    }
    .user .name {
        font-size: 5vw;
    }
    .chatBody {
        width: 100%;
        margin-bottom: 2%;
    }
    #userInfo {
        width: 100%;
        max-height: 80%;
    }
    .profileInfoContent {
        width: 60%;
    }
    .profileInfoContent #profilePic img {
        width: 50%;
    }
    .otherMessage .messages {
        max-width: 80%;
        font-size: 4vw;
    }
    .ownMessage .messages {
        max-width: 80%;
        font-size: 4vw;
    }
    #typing input {
        font-size: 3vw;
    }
    .profileInfoContent {
        margin-left: 18%;
    }
}