#container {
    height: 100%;
    width: 100%;
    position: relative;
    vertical-align: middle;
}

.list {
    margin: 0.25% 0px;
    margin-left: 2%;
    height: 95%;
    width: 25%;
    float: left;
    background-color: #e3e3e3;
    border: 1px solid #f44336;
}

#header {
    width: 100%;
    background-color: #f44336;
    color: #fff;
    overflow-y: visible;
}

.list #list_users {
    height: 94%;
    overflow-y: scroll;
}

#header p {
    padding: 3% 2%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.user {
    margin-top: 1%;
    width: 100%;
    background-color: #fff;
    cursor: pointer;
}

.user:hover {
    background-color: rgba(227, 227, 227, 0.5);
}

.user img {
    margin: 2%;
    width: 15%;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid #000;
    position: relative;
    display: inline;
    vertical-align: middle;
}

.user .name {
    font-size: 1em
    display: inline;
    margin: 2%;
    vertical-align: middle;
}

/*.showContent {
    display: none;
}*/

.chatBody {
    float: left;
    height: 95%;
    width: 40%;
    margin: 0.25% 0px;
    margin-left: 2%;
    background-color: #e3e3e3;
    border: 1px solid #f44336;
    overflow: hidden;
}

.chatHeader {
    width: 100%;
    background-color: #f44336;
}

.chatHeader p {
    padding: 2%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: white;
}

.chatBody #chatContent {
    height: 89%;
    overflow-y: scroll;
}

.ownMessage {
    float: right;
    width: 90%;
}

.ownMessage .messages {
    float: right;
    padding: 2%;
    margin: 3.6% 5% 0px;
    max-width: 80%;
    background-color: #fff;
    border-radius: 3px;
    color: #f44336;
    font-size: 1em;
}

.otherMessage {
    float: left;
    width: 97%;
}

.otherMessage .messages {
    float: left;
    padding: 2%;
    margin: 3.6% 5% 0px;
    max-width: 62%;
    background-color: #f44336;
    border-radius: 3px;
    color: #fff;
    font-size: 1em;
}

#typing {
    height: 7%;
    background-color: white;
}

#typing input {
    float: left;
    width: 70%;
    color: #000;
    border: none;
    border-bottom: 1px solid #808080;
    margin: 3%;
    padding-left: 1.4%;
    font-size: 1em;
}

#typing #sendIcon {
    width: 7%;
    float: right;
    border-radius: 100%;
    overflow: hidden;
    cursor: pointer;
    margin-top: 1.5%;
    margin-right: 3%;
}

#typing #sendIcon img {
    float: left;
    width: 100%;
}

#userInfo {
    margin: 0.25% 0px;
    margin-left: 2%;
    height: 95%;
    width: 25%;
    border: 1px solid #f44336;
    float: left;
    text-align: center;
}

#profileHeader {
    background-color: #f44336;
    color: #fff;
}

#profileHeader p {
    text-align: left;
    color: #fff;
    padding: 3% 2%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.profileInfoContent {
    width: 100%;
    padding-top: 5%;
    padding-bottom: 10%;
}

.profileInfoContent #profilePic img {
    width: 80%;
}

.blurred {
    opacity: 0.479;
}

@media only screen and (max-width: 800px) {
    .list {
        width: 100%;
        margin-bottom: 2%;
    }
    .user .name {
        font-size: 3em;
    }
    .chatBody {
        width: 100%;
        margin-bottom: 2%;
    }
    #userInfo {
        width: 100%;
        max-height: 80%;
    }
    .profileInfoContent {
        width: 60%;
    }
    .profileInfoContent #profilePic img {
        width: 50%;
    }
    .otherMessage .messages {
        max-width: 80%;
        font-size: 2em;
    }
    .ownMessage .messages {
        max-width: 80%;
        font-size: 2em;
    }
    #typing input {
        font-size: 2.5em;
    }
    .profileInfoContent {
        margin-left: 18%;
    }
}
