#container {
	position: fixed;
	bottom: .2%;
	right: 1%;
	width: 80%;
}

.chatBox {
	border: 1px solid #ff5722;
	float: right;
	margin-left: 1%;
	width: 27%;
}

.chatHeader {
	background-color: #f44336;
	width: 100%;
	float: left;
}

.chatHeader .name {
	float: left;
	font-size: 1.35vw;
	color: #fff;
	vertical-align: center;
	width: 80%;
	margin: 2.69%;
	cursor: default;
}

.chatHeader .close {
	float: right;
	width: 6%;
	margin: 3.5% 2.69%;
	cursor: pointer;
}

.chatHeader .close img {
	float: left;
	width: 100%;
}

.chatBody {
	float: left;
	width: 100%;
	border-top: 2px solid #ff5722;
	background-color: #e3e3e3;
}

.chatBody .content {
	float: left;
	width: 100%;
	height: 280px;
	overflow-y: scroll;
}

.chatBody .type {
	float: left;
	width: 100%;
	background-color: #fff;
}

.chatBody .type input {
	float: left;
	width: 70%;
	color: #000;
	border: none;
	border-bottom:1px solid #808080;
	margin: 5.2% 3%;
	padding-left: 1.4%;
	font-size: 1.15vw;
}

.chatBody .type .send {
	float: right;
	width: 12%;
	border-radius: 100%;
	overflow: hidden;
	cursor: pointer;
	margin: 3.2% 1%;
}

.chatBody .type .send img {
	float: left;
	width: 100%;
}

.hisMessage {
	float: left;
	width: 97%;
}

.hisMessage .profilePic {
	float: left;
	width: 15%;
	border-radius: 50%;
	overflow: hidden;
	margin: 5% 0px 0px 3%;
	border: 1px solid #000;
}

.hisMessage .profilePic img {
	float: left;
	width: 100%;
}

.hisMessage .message {
	float: left;
	padding: 2%;
	margin: 6% 5%;
	max-width: 62%;
	background-color: #f44336;
	border-radius: 3px;
	color: #fff;
	font-size: 1.2svw;
}

.myMessage {
	float: right;
	width: 90%;
}

.myMessage .message {
	float: right;
	padding: 2%;
	margin: 6% 5%;
	max-width: 80%;
	background-color: #fff;
	border-radius: 3px;
	color: #f44336;
	font-size: 1.2vw;
}

.noMessagesYet {
	font-size: 1.2vw;
	margin: 4%;
	text-decoration: underline;
	color: #111;
	text-shadow: 1px 1px 1px #000;
}