#root {
  width: 100%;
}

.navbar.navbar-inverse.navbar-fixed-top {
  visibility: hidden;
}

#view-content {
  margin-top: 0;
}

#root #header {
  width: 100%;
  text-align: center;
  background-color: #333;
  padding-top: 1em;
  padding-bottom: 1em;
}

#root #header a {
  text-decoration: none;
  color: #fff;
  margin-left: 20%;
  margin-right: 20%;
}

#root #main {
  width: 100%;
  vertical-align: middle;
  text-align: center;
  height: 100%;
}

#root #main img {
  max-width: 90%;
}

#root #main .col {
  display: inline-block;
  vertical-align: middle;
}

#root #main .col.side {
  width: 25%;
}

#root #main .col.side h3 {
  margin-bottom: 0.5em;
}

#root #main .col.center {
  width: 40%;
}

#root #partners {
  width: 100%;
  background-color: #ddd;
  text-align: center;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

#root #partners p {
  color: #333;
}
