@font-face {
 font-family: "GothamW";
 src: url(/fonts/GOTHW___.ttf);
} 

.logForm {
	float:left;
	width:40%;
	border: 2px solid grey;
    border-radius: 5px;
    padding:1%;
    margin:7% 30%;
}
.changeForm {
	width:100%;
	float:left;
	font-size:1.2vw;
}

.positionLeft {
	height:3vw;
	margin-right:3%;
	margin-left:2%;
	border: none;
  	color:#101010;
	width:45%;
	float:left;
	border-radius:2px;
	transition: background-color 0.5s ease;
}
.positionLeft:hover {
	background-color:#101010;
	color:#FFCC00;
	transition: background-color 0.5s ease;
}

.positionRight {
	height:3vw;
	margin-left:3%;
	margin-right:2%;
	border: none;
  	color:#101010;
	width:45%;
	float:left;
	border-radius:2px;
	transition: background-color 0.5s ease;
}
.positionRight:hover {
	background-color:#101010;
	color:#FFCC00;
	transition: background-color 0.5s ease;
}


.logAction {
	margin-top:5%;
	float:left;
	width:100%;
	text-align: center;
}

.title {
	font-size:3vw;
	font-color:#101010;
	width:100%;
	margin-bottom:3%;
	font-family: "GothamW";
	font-weight:bold;
}

.logAction input {

	/*Last commited code here: */


	/*margin-top:5%;*/
	/*width:65%;*/
	/*font-size: 1.5vw;*/

	/*New code: */

	margin-top:5%;
	width:65%;
	border-radius:2px;
	margin-left:17.5%;
	padding:1px;
	font-size: 1.5vw;
}

#logDis {
	width:50%;
	border:none;
	color:#101010;
	font-size:1.2vw;
	margin-top:4%;
	padding:1.7% 0px;
	border-radius:2px;
	transition: background-color 0.5s ease;
}

#logDis:hover {
	background-color:#101010;
	color:#FFCC00;
	transition: background-color 0.5s ease;
}

.regAction {
	display:none;
	margin-top:5%;
	float:left;
	width:100%;
	text-align: center;
}

.regAction input {
	margin-top:5%; 
	width:65%;
	border-radius:2px;
	margin-left:17.5%; 
	padding:1px;
	font-size: 1.5vw;
}

.regButton {
	margin-left:0px;
}

.loginButton {
	margin-left:0px;
}

#regDis {
	width:50%;
	border:none;
	color:#101010;
	font-size:1.2vw;
	margin-top:4%;
	padding:1.7% 0px;
	border-radius:2px;
	transition: background-color 0.5s ease;
}

#regDis:hover {
	background-color:#101010;
	color:#FFCC00;
	transition: background-color 0.5s ease;
}
#image {
	margin-left:17.5%;
}

.imgInfo {
	color:#A9A9A9;
	text-align:left;
	margin-left:17.5%;
	margin-top:4%;
}

.validation-valid {
	display: none;
}

.validation-invalid {
	color: #f1404b;
}

#regPassword.ng-invalid.ng-touched,
#regPassword.ng-invalid.ng-invalid-name
{
	color: white;
	background: #f46f78;
}

#regPassword2.ng-invalid.ng-touched,
#regPassword2.ng-invalid.ng-invalid-name
{
	color: white;
	background: #f46f78;
}

.white_space{
	white-space:nowrap;
}
.white_space label{
	color:#49FC96;
}

