* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: black;

}

.profile{
    background-image: url("../img/index.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 30%;
    margin-left: 30%;
    padding-bottom: 12%;
    border:black 1px solid;
    border-radius: 5%;
}

.profileImage{
    border: 1px black solid;
    margin-top: 2%;
    margin-left: 32%;
    border-radius: 3%;
}

label{
    margin-left: 10%;
    display: block;
    text-shadow: -1.2px 0 black, 0 1.2px black, 1.2px 0 black, 0 -1.2px black;
    font-size: 2vw;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
    border-bottom: black 1px solid;
    padding-bottom: 1%;

}

.labels{
    margin-top: 5%;
}
