<link rel="stylesheet" type="text/css" href="G:\Projects\Atanasov\AtanasovWebSiteProject\AppRoot\CSS\AboutUs.css">
<section class="Intro">
  <h2>ABOUT US</h2>
  <img class="Intro-img" src="https://placehold.it/900x350">
  <p>In sed neque id libero pretium luctus. Vivamus faucibus. Ut vitae elit. In hac habitasse platea dictumst. Proin et nisl ac orci tempus luctus. Aenean lacinia justo at nisi. Vestibulum sed eros sit amet nisl lobortis commodo. Suspendisse nulla. Vivamus ac lorem. Aliquam pulvinar purus at felis. Quisque convallis nulla id ipsum. Praesent vitae urna. Fusce blandit nunc nec mi. Praesent vestibulum hendrerit ante.
Vivamus accumsan. Donec molestie pede vel urna. Curabitur eget sem ornare felis gravida vestibulum.Sed pulvinar, tellus in venenatis vehicula, lorem magna dignissim erat, in accumsan ante lorem sit amet lorem.</p>
<h2>OUR TEAM</h2>
<!--  <div class="image"> 
<ul>
  <li><img data-content="dsadsadsa" src="G:\Projects\Atanasov\AtanasovWebSiteProject\AppRoot\Resources\Images\ProfilePics\profile_default_image.jpg" alt=""></li>
   <li><img src="G:\Projects\Atanasov\AtanasovWebSiteProject\AppRoot\Resources\Images\ProfilePics\profile_default_image.jpg" alt=""></li>  
  <li><img src="G:\Projects\Atanasov\AtanasovWebSiteProject\AppRoot\Resources\Images\ProfilePics\profile_default_image.jpg" alt=""></li>
</ul>
<ul>
  <li><img src="G:\Projects\Atanasov\AtanasovWebSiteProject\AppRoot\Resources\Images\ProfilePics\profile_default_image.jpg" alt=""></li>
   <li><img src="G:\Projects\Atanasov\AtanasovWebSiteProject\AppRoot\Resources\Images\ProfilePics\profile_default_image.jpg" alt=""></li>  
  <li><img src="G:\Projects\Atanasov\AtanasovWebSiteProject\AppRoot\Resources\Images\ProfilePics\profile_default_image.jpg" alt=""></li>
</ul>
</div> 

 -->
 <div data-content="Name Goes Here
    Job Title Here
    Vestassapede et donec ut est liberos sus et eget sed eget. Quisqueta habitur augue magnisl magna phas ellus sagit titor ant curabi turpis." class="Intro-image">
    <img src="G:\Projects\Atanasov\AtanasovWebSiteProject\AppRoot\Resources\Images\ProfilePics\profile_default_image.jpg" alt="" />
</div>
    
<div data-content="Name Goes Here
    Job Title Here
    Vestassapede et donec ut est liberos sus et eget sed eget. Quisqueta habitur augue magnisl magna phas ellus sagit titor ant curabi turpis." class="Intro-image">
    <img src="G:\Projects\Atanasov\AtanasovWebSiteProject\AppRoot\Resources\Images\ProfilePics\profile_default_image.jpg" alt="" />
</div>
 <div data-content="Name Goes Here
    Job Title Here
    Vestassapede et donec ut est liberos sus et eget sed eget. Quisqueta habitur augue magnisl magna phas ellus sagit titor ant curabi turpis." class="Intro-image">
    <img src="G:\Projects\Atanasov\AtanasovWebSiteProject\AppRoot\Resources\Images\ProfilePics\profile_default_image.jpg" alt="" />
</div>
    
<div data-content="Name Goes Here
    Job Title Here
    Vestassapede et donec ut est liberos sus et eget sed eget. Quisqueta habitur augue magnisl magna phas ellus sagit titor ant curabi turpis." class="Intro-image">
    <img src="G:\Projects\Atanasov\AtanasovWebSiteProject\AppRoot\Resources\Images\ProfilePics\profile_default_image.jpg" alt="" />
</div>

 <div data-content="Name Goes Here
    Job Title Here
    Vestassapede et donec ut est liberos sus et eget sed eget. Quisqueta habitur augue magnisl magna phas ellus sagit titor ant curabi turpis." class="Intro-image">
    <img src="G:\Projects\Atanasov\AtanasovWebSiteProject\AppRoot\Resources\Images\ProfilePics\profile_default_image.jpg" alt="" />
</div>
    
<div data-content="Name Goes Here
    Job Title Here
    Vestassapede et donec ut est liberos sus et eget sed eget. Quisqueta habitur augue magnisl magna phas ellus sagit titor ant curabi turpis." class="Intro-image">
    <img src="G:\Projects\Atanasov\AtanasovWebSiteProject\AppRoot\Resources\Images\ProfilePics\profile_default_image.jpg" alt="" />
</div>




</section>
