<link rel="stylesheet" href="CSS/list.css">
<div id="admin">
  <div class="action">
    <a href="#/posts/create">Create post</a>
  </div>
  <div class="action">
    <a href="#/levels/create">Create level</a>
  </div>
  <div class="action">
    <a href="#/courses/create">Create course</a>
  </div>
  <div class="action">
    <a href="#/lectures/create">Create lecture</a>
  </div>
  <div class="action">
    <a href="#/users">Users</a>
  </div>
  <div class="action">
    <a href="#/chat-admin">Chat</a>
  </div>
</div>
