<link rel="stylesheet" href="CSS/list.css">
<div id="admin">
  <a href="#/levels/create"><div class="action">Create level</div></a>
  <a href="#/courses/create"><div class="action">Create course</div></a>
  <a href="#/lectures/create"><div class="action">Create lecture</div></a>
  <a href="#/posts/create"><div class="action">Create post</div></a>
  <a href="#/posts"><div class="action">Posts</div></a>
  <a href="#/lectures/stats"><div class="action">Attendance Statistics</div></a>
  <a href="#/users"><div class="action">Users</div></a>
  <a href="#/chat-admin"><div class="action">Chat</div></a>
</div>
