<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Календар</title>
    <script type="text/javascript" src="JS/libs/jquery.min.js"></script>
    <script type="text/javascript" src="JS/libs/moment.min.js"></script>
    <script type="text/javascript" src="JS/libs/fullcalendar.js"></script>
    <script type="text/javascript" src="JS/libs/bootstrap.js"></script>
    <link rel="stylesheet" href="CSS/calendar/fullcalendar.css">
    <link rel="stylesheet" href="CSS/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="CSS/bootstrap/bootstrap-theme.css">
    <script type="text/javascript">
      $(document).ready(function() {
        $('#calendar').fullCalendar({
            events: 'Models/ViewModels/getLectures.php',
            header: {
              left: 'prev,next today addEvent',
              center: 'title',
              right: 'month,agendaWeek,agendaDay'
            },
            eventClick: function(event) {
              console.log(event);
              $('#events-modal').modal();
              $('#title').html("&nbsp;" + event.title);
              $('#start').html('<i class="fa fa-calendar-plus-o"></i>&nbsp;<b>Начало</b>: ' + event.startTime);
              $('#end').html('<i class="fa fa-calendar-plus-o"></i>&nbsp;<b>Край</b>: ' + event.endTime);
              $('#description').html('<i class="fa fa-calendar-check-o"></i>&nbsp;<b>Описание</b>: ' + event.description);
              $('#course').html('<i class="fa fa-calendar-check-o"></i>&nbsp;<b>Курс</b>: ' + event.name);
              $('#editLecture').attr('href', 'edit.html?id=' + event.id);
              $('#deleteLecture').attr('href', 'edit.delete?id=' + event.id);
            }
        });
      });
    </script>
  </head>
  <body>
    <div class="modal fade" id="events-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h2 id="title"><i class="fa fa-file"></i></h2>
                </div>
                <div class="modal-body" style="height: 320px" id="modal-body">
                  <div id="event-meta" class="container">
                    <h4 id="start"><i class="fa fa-calendar-plus-o"></i>&nbsp;<b>Start</b>: </h4>
                    <h4 id="end"><i class="fa fa-calendar-check-o"></i>&nbsp;<b>End</b>: </h4>
                    <br>
                    <h4 id="description"><i class="fa fa-calendar-check-o"></i>&nbsp;<b>Description</b>: </h4>
                    <br>
                    <h4 id="course"><i class="fa fa-calendar-check-o"></i>&nbsp;<b>Course</b>: </h4>
                  </div>
                </div>
                <div class="modal-footer">
                    <a data-dismiss="modal" class="btn btn-warning" id="editLecture">Edit</a>
                    <a data-dismiss="modal" class="btn btn-danger" id="deleteLecture">Delete</a>
                    <a href="#" data-dismiss="modal" class="btn btn-default">Close</a>
                </div>
            </div>
        </div>
    </div>
    <div id="calendar">
    </div>
  </body>
</html>
