<!-- Temporary -->
<link rel="stylesheet" type="text/css" href="CSS/reset.css">
<link rel="stylesheet" type="text/css" href="CSS/Chat/chat.css">
<script src="JS/Chat/chat_animations.js?version=1"></script>
<script src="JS/Chat/chat_check_admin_status.js?version=1"></script>
<script src="JS/Chat/send_message_user.js?version=1"></script>
<script src="JS/Chat/get_messages_user.js?version=1"></script>
<!-- Temporary -->
<div id="chatBox">
	<div id="chatBody">
		<div id="content"></div>
		<div id="type">
			<textarea name="message" rows="3" placeholder="Type your message..."></textarea>
			<button id="send_button">Send</button>
		</div>
	</div>
</div>
