<!-- Temporary -->
<link rel="stylesheet" type="text/css" href="CSS/reset.css">
<link rel="stylesheet" href="CSS/Chat/admin_chat.css">
<script src="JS/Chat/admin_chat_animation.js"></script>
<script src="JS/Chat/admin_chat_update_last_online.js"></script>
<script src="JS/Chat/admin_chat_get_users.js"></script>
<script src="JS/Chat/admin_chat_get_user_info.js"></script>
<script src="JS/Chat/send_message_admin.js"></script>
<script src="JS/Chat/get_messages_admin.js"></script>
<!-- Temporary -->

<div id="container">
    <div class="list">
        <div id="header">
            <p>Users</p>
        </div>
        <div id="list_users">
            <!-- <div class="user">
                <img src="../Images/Profile/profile_default_image.jpg" alt="userPic">

                <p class="name">Todor Nikolov</p>
            </div>
            <div class="user">
                <img src="../Images/Profile/profile_default_image.jpg" alt="userPic">

                <p class="name">Todor Nikolov</p>
            </div> -->
        </div>
    </div>
    <div class="showContent">
        <div class="chatBody">
            <div class="chatHeader">
                <p id="selectedName">Name</p>
            </div>
            <div id="chatContent">
                <!-- <div class="otherMessage">
                    <p class="messages">Hi :)</p>
                </div>

                <div class="ownMessage">
                    <p class="messages">Are you testing the chat design again???</p>
                </div>

                <div class="otherMessage">
                    <p class="messages">Lorem ipsum dolor sit amet, consectetur(...)</p>
                </div>

                <div class="ownMessage">
                    <p class="messages">...</p>
                </div> -->
            </div>
            <div id="typing">

                <input type="text" name="message" id="message_input" placeholder="Type Your Message...">
                <input type="hidden" id="user_id">

                <div id="sendIcon" class="blurred">
                    <img src="Images/Chat/send.png">
                </div>
            </div>
        </div>
        <div id="userInfo">
            <div id="profileHeader">
                <p>Profile Info</p>
            </div>
            <div class="profileInfoContent">
                <div id="profilePic">
                    <img src="">
                </div>
                <div class="description">
                    <h2 id="Name"></h2>

                     <p id="email"></p>
                </div>
            </div>
        </div>
    </div>
</div>
