<!-- Temporary -->
<link rel="stylesheet" type="text/css" href="../../CSS/reset.css">
<link rel="stylesheet" href="../../CSS/Chat/admin_chat.css">
<script src="../Libraries/JQuery/jquery.js"></script>
<script src="../../JS/Chat/admin_chat_animation.js"></script>
<!-- Temporary -->

<div id="container">
    <div class="list">
        <div id="header">
            <p>Users</p>
        </div>
        <div id="list_users">
            <!-- <div class="user">
                <img src="../Images/Profile/profile_default_image.jpg" alt="userPic">

                <p class="name">Todor Nikolov</p>
            </div>
            <div class="user">
                <img src="../Images/Profile/profile_default_image.jpg" alt="userPic">

                <p class="name">Todor Nikolov</p>
            </div> -->
        </div>
    </div>
    <div class="showContent">
        <div class="chatBody">
            <div class="chatHeader">
                <p>Todor Nikolov</p>
            </div>
            <div id="chatContent">
                <!-- <div class="otherMessage">
                    <p class="messages">Hi :)</p>
                </div>

                <div class="ownMessage">
                    <p class="messages">Are you testing the chat design again???</p>
                </div>

                <div class="otherMessage">
                    <p class="messages">Lorem ipsum dolor sit amet, consectetur(...)</p>
                </div>

                <div class="ownMessage">
                    <p class="messages">...</p>
                </div> -->
            </div>
            <div id="typing">

                <input type="text" name="message" placeholder="Type Your Message...">

                <div id="sendIcon" class="blurred">
                    <img src="../Images/Chat/send.png">
                </div>
            </div>
        </div>
        <div id="userInfo">
            <div id="profileHeader">
                <p>Profile Info</p>
            </div>
            <div class="profileInfoContent">
                <div id="profilePic">
                    <img src="../Images/Profile/profile_default_image.jpg" alt="default">
                </div>
                <div class="description">
                    <h2 id="Name">Todor Nikolov</h2>

                    <p id="email">kot_takova@abv.bg</p>

                    <p>State: Payed big amount of money!</p>
                </div>
            </div>
        </div>
    </div>
</div>