<!-- Temporary -->
<link rel="stylesheet" href="../../CSS/Chat/admin_chat.css">
<script src="../Libraries/JQuery/jquery.js"></script>
<!-- Temporary -->

<div id="container">
    <div class="list">
        <div id="header">
            <p>Users</p>
        </div>
        <div id="list_users">
            <div class="user">
                <img src="../Images/Profile/profile_default_image.jpg" alt="userPic">

                <p class="name">Todor Nikolov</p>
            </div>
            <div class="user">
                <img src="../Images/Profile/profile_default_image.jpg" alt="userPic">

                <p class="name">Todor Nikolov</p>
            </div>
            <div class="user">
                <img src="../Images/Profile/profile_default_image.jpg" alt="userPic">

                <p class="name">Todor Nikolov</p>
            </div>
            <div class="user">
                <img src="../Images/Profile/profile_default_image.jpg" alt="userPic">

                <p class="name">Todor Nikolov</p>
            </div>
            <div class="user">
                <img src="../Images/Profile/profile_default_image.jpg" alt="userPic">

                <p class="name">Todor Nikolov</p>
            </div>
            <div class="user">
                <img src="../Images/Profile/profile_default_image.jpg" alt="userPic">

                <p class="name">Todor Nikolov</p>
            </div>
            <div class="user">
                <img src="../Images/Profile/profile_default_image.jpg" alt="userPic">

                <p class="name">Todor Nikolov</p>
            </div>
            <div class="user">
                <img src="../Images/Profile/profile_default_image.jpg" alt="userPic">

                <p class="name">Todor Nikolov</p>
            </div>
            <div class="user">
                <img src="../Images/Profile/profile_default_image.jpg" alt="userPic">

                <p class="name">Todor Nikolov</p>
            </div>
            <div class="user">
                <img src="../Images/Profile/profile_default_image.jpg" alt="userPic">

                <p class="name">Todor Nikolov</p>
            </div>
            <div class="user">
                <img src="../Images/Profile/profile_default_image.jpg" alt="userPic">

                <p class="name">Todor Nikolov</p>
            </div>
            <div class="user">
                <img src="../Images/Profile/profile_default_image.jpg" alt="userPic">

                <p class="name">Todor Nikolov</p>
            </div>
        </div>
    </div>
    <div class="chatBody">

    </div>
</div>