<!-- Temporary -->
<link rel="stylesheet" type="text/css" href="../../CSS/Chat/chat.css">
<!-- Temporary -->

<div id="container">
	<div class="chatBox">
		<div class="chatHeader">
			<p class="name">Jordan Tolev</p>
			<div class="close">
				<img src="../Images/Chat/close_1.png">
			</div>
		</div>
		<div class="chatBody">
			<div class="content">
				<!-- MESSAGES -->
				<p class="noMessagesYet">You don't have messages with this person.</p>
			</div>
			<div class="type">
				<input type="text" name="message" placeholder="Type Your Message...">
				<div class="send">
					<img src="../Images/Chat/send.png">
				</div>
			</div>
		</div>
	</div>

	<div class="chatBox">
		<div class="chatHeader">
			<p class="name">Todor Nikolov</p>
			<div class="close">
				<img src="../Images/Chat/close_1.png">
			</div>
		</div>
		<div class="chatBody">
			<div class="content">
				<!-- MESSAGES -->
				<div class="hisMessage">
					<div class="profilePic">
						<img src="../Images/Profile/profile_default_image.jpg">
					</div>
					<p class="message">Hi :)</p>
				</div>
				<div class="myMessage">
					<p class="message">Are you testing the chat design again???</p>
				</div>
				<div class="hisMessage">
					<div class="profilePic">
						<img src="../Images/Profile/profile_default_image.jpg">
					</div>
					<p class="message">Lorem ipsum dolor sit amet, consectetur(...)</p>
				</div>
				<div class="myMessage">
					<p class="message">...</p>
				</div>
			</div>
			<div class="type">
				<input type="text" name="message" placeholder="Type Your Message...">
				<div class="send">
					<img src="../Images/Chat/send.png">
				</div>
			</div>
		</div>
	</div>
</div>