<link rel="stylesheet" href="CSS/contacts.css">

<div id="contact-info">
  <address>
    <p><strong>24 Drama Street, Plovdiv</strong></p>
    <p>Email: atanasko@gmail.com</p>
  </address>
  <hr />
  <div id="directions">
    <h3>Directions from Mall Plovdiv</h3>
    <img src="Resources/Images/Contacts/directions.PNG" />
  </div>
  <hr />
  <div id="map"></div>

  <script src="JS/map.js?version=1"></script>
  <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDWfHZFVKbLscMKhDeFuwdko2WIH4AxKY8&callback=initMap">
  </script>
</div>
