<!-- Temporary -->
<link rel="stylesheet" type="text/css" href="../../CSS/reset.css">
<link rel="stylesheet" type="text/css" href="../../CSS/reset.css">
<link rel="stylesheet" type="text/css" href="../../CSS/HeaderFooter/header.css">

<link rel="stylesheet" type="text/css" href="../../CSS/HeaderFooter/home.css">
<link rel="stylesheet" type="text/css" href="../../CSS/HeaderFooter/footer.css">
<script src="../../Resources/Libraries/JQuery/jquery.js"></script>
<script src="../../JS/main.js"></script>
<!-- Temporary -->
    <footer>

        <section class="module-1 parallax parallax-1">
            <div class="container">
                <div class="footer">
                    <div class="rows">
                        <h2 class="contacts">Info</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                    </div>
                    <div class="rows">
                        <h2 class="contacts">Contacts</h2>
                        <a class="facebook" href="#"></a>
                        <a class="google" href="#"></a>
                        <a class="instagram" href="#"></a>
                        <a class="skype" href="#"></a>
                        <a class="youtube" href="#"></a>
                    </div>
                    <div class="rows">
                        <h2 class="contacts">Adress</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                    </div>
                </div>

            </div>

        </section>

    </footer>
