
<header>
<!-- Temporary -->
<link rel="stylesheet" type="text/css" href="../../CSS/HeaderFooter/header.css">
<!-- Temporary -->
    <section class="module parallax parallax-1">
      <div class="container">

          <nav>

              <ul>

                    <h1>Име</h1>
                    <li><a href="#">Поле1</a></li>
                    <li><a href="#">Поле2</a></li>
                    <li><a href="#">Поле3</a></li>
                  
              </ul>

          </nav>   
          <div class="banner">
              <h2>banner</h2>
              <p>"Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."</p>
              <button>Hello</button>

          </div>    
      </div>
    
    </section> 
    
</header>