<!-- Temporary -->
<link rel="stylesheet" type="text/css" href="../../CSS/reset.css">
<link rel="stylesheet" type="text/css" href="../../CSS/HeaderFooter/home.css">
<!-- Temporary -->
<body>

 


<section class="module content">
  <div class="container">
    <div class="row">
          <div class="rows-1">
            <h3>Name of course</h3>
            <label>(Easy)</label>

          </div>
          <div class="rows-2">
            <p>Lorem ipsum dolor sit amet interdum mollis sapien. Sed ac risus. Phasellus lacinia, ullamcorper laoreet, lectus arcu pulvinar lorem ipsum interdum sed tempus sagittis lorem feugiat. In fringilla diet consectetur. Morbi libero orci, consectetur in odio maximus felis.</p>

          </div>
        </div> 

        <div class="row">     
          <div class="rows-1">
            <h3>Name of course</h3>
            <label>(Meddium)</label>

          </div>
          <div class="rows-2">
            <p>Lorem ipsum dolor sit amet interdum mollis sapien. Sed ac risus. Phasellus lacinia, ullamcorper laoreet, lectus arcu pulvinar lorem ipsum interdum sed tempus sagittis lorem feugiat. In fringilla diet consectetur. Morbi libero orci, consectetur in odio maximus felis.</p>

          </div>
          </div> 
            
        <div class="row">  
          <div class="rows-1">
            <h3>Name of course</h3>
            <label>(Hard)</label>

          </div>
          <div class="rows-2">
            <p>Lorem ipsum dolor sit amet interdum mollis sapien. Sed ac risus. Phasellus lacinia, ullamcorper laoreet, lectus arcu pulvinar lorem ipsum interdum sed tempus sagittis lorem feugiat. In fringilla diet consectetur. Morbi libero orci, consectetur in odio maximus felis.</p>

          </div>
          </div> 
  </div>
</section>

<section class="module parallax parallax-2">
  <div class="container">
    <h1>Video</h1>
  </div>
</section>


  
</body>