    
    <link rel="stylesheet" type="text/css" href="CSS/reset.css">

    <link rel="stylesheet" type="text/css" href="CSS/Lessons/lessons.css">
    <link rel="stylesheet" type="text/css" href="CSS/HeaderFooter/header.css">

    <script src="Libraries/JQuery/jquery.js"></script>

    <script src="JS/Lessons/lessons.js"></script>


<body>
 <section class="module parallax parallax-5">

      <div class="container">

        <h1>Lessons</h1>
      
    
    </section>

<ul id="menu"> 
    <li> <button id="heading" class="but" >GRAMMAR</button> 
    
<div id="menuitems">
      
    <div class="item" id="item1">1: Lesson</div>
    <div class="item" id="item2">2: Lesson </div>
    <div class="item" id="item3">3: Lesson</div> 
    <div class="item" id="item4">4: Lesson</div>
  
</div>
</ul>
<br>

<ul id="menu"> 
    <li> <button id="heading_1" class="but" >GRAMMAR</button> 
    
<div id="menuitems_1">
      
    <div class="item" id="item1">1: Lesson</div>
    <div class="item" id="item2">2: Lesson </div>
    <div class="item" id="item3">3: Lesson</div> 
    <div class="item" id="item4">4: Lesson</div>
  
</div>
</ul>
<br>
<ul id="menu"> 
    <li> <button id="heading_2" class="but" >GRAMMAR</button> 
    
<div id="menuitems_2">
      
    <div class="item" id="item1">1: Lesson</div>
    <div class="item" id="item2">2: Lesson </div>
    <div class="item" id="item3">3: Lesson</div> 
    <div class="item" id="item4">4: Lesson</div>
  
</div>
</ul>
<br>
<ul id="menu"> 
    <li> <button id="heading_3" class="but" >GRAMMAR</button> 
    
<div id="menuitems_3">
      
    <div class="item" id="item1">1: Lesson</div>
    <div class="item" id="item2">2: Lesson </div>
    <div class="item" id="item3">3: Lesson</div> 
    <div class="item" id="item4">4: Lesson</div>
  
</div>
</ul>



</body>