    
    <link rel="stylesheet" type="text/css" href="../../CSS/reset.css">

    <link rel="stylesheet" type="text/css" href="../../CSS/Lessons/lessons.css">
    <script src="../Libraries/JQuery/jquery.js"></script>

    <script src="../../JS/Lessons/lessons.js"></script>


<body>


<ul id="menu"> <li> <button id="heading" class="but" >Click Me</button> 
    
<div id="menuitems">
      
    <div class="item" id="item1">1: Item 1</div>
    <div class="item" id="item2">2: Item 2 </div>
    <div class="item" id="item3">3: Item 3</div> 
    <div class="item" id="item4">4: Item 4</div>
  
</div>
    
 </ul>

</body>