<!-- Temporary -->
<script src="../Libraries/JQuery/jquery.js"></script>
<script src="../../JS/Forms/add_remove_highlighter.js"></script>
<script src="../../JS/Forms/change_tabs.js"></script>
<link rel="stylesheet" type="text/css" href="../../CSS/Forms/login_register.css">
<!-- Temporary -->

<div class="form" method="post" action="../../Controllers/Account/register.php" enctype="multipart/form-data">

      <ul class="tab-group">
        <li class="tab active"><a href="#login">Log In</a></li>
        <li class="tab"><a href="#signup">Sign Up</a></li>
      </ul>

      <div class="tab-content">
        <div id="login">
          <h1>Welcome Back!</h1>

          <form action="../../Controllers/Account/login.php" method="post">

            <div class="field-wrap">
            <label>
              Email Address
            </label>
            <input type="email" autocomplete="off"/>
          </div>

          <div class="field-wrap">
            <label>
              Password
            </label>
            <input type="password" autocomplete="off"/>
          </div>

          <p class="forgot"><a href="#">Forgot Password?</a></p>

          <button class="button button-block"/>Log In</button>

          </form>
        </div>

        <div id="signup">
          <h1>Sign Up for Free</h1>

          <form action="../../Controllers/Account/register.php" method="post">

          <div class="top-row">
            <div class="field-wrap">
              <label>
                First Name
              </label>
              <input name="first_name" type="text" autocomplete="off" />
            </div>

            <div class="field-wrap">
              <label>
                Last Name
              </label>
              <input name="last_name" type="text" autocomplete="off"/>
            </div>
          </div>

          <div class="field-wrap">
            <label>
              Email Address
            </label>
            <input name="email" type="text" autocomplete="off"/>
          </div>

          <div class="field-wrap">
            <label>
              Set A Password
            </label>
            <input name="password" type="password" autocomplete="off"/>
          </div>

          <div class="field-wrap">
            <label>
              Confirm Password
            </label>
            <input name="password_2" type="password" autocomplete="off"/>
          </div>

          <div class="field-wrap">
            <label>
              Secret Question*
            </label>
            <input name="question" type="text" autocomplete="off"/>
          </div>

          <div class="field-wrap">
            <label>
              Answer*
            </label>
            <input name="special_key" type="text" autocomplete="off"/>
          </div>

          <p class="optional"><a href="#">Optional*</a></p>

          <button type="submit" class="button button-block"/>Get Started</button>

          </form>
        </div>

      </div>
</div>
