<link rel="stylesheet" type="text/css" href="../../CSS/reset.css">
<link rel="stylesheet" type="text/css" href="../../CSS/Forms/logIn.css">


<div class="logForm">

    <div class="changeForm">
        <button class="positionLeft">Login</button>
        <button class="positionRight">Register</button>
    </div>

    <div class="logAction">
        <div class="title">Login</div>
        <form method="post" action="../../Controllers/Account/login.php" enctype="multipart/form-data">

            <span class="input input--manami">
                <input class="input__field input__field--manami" name="email" type="text" id="input-32" />
                <label class="input__label input__label--manami" for="input-32">
                     <span id = "email_span" class="input__label-content input__label-content--manami">email:</span>
                </label>
            </span>

            <span class="input input--manami">
                <input class="input__field input__field--manami" name="password" type="password" id="input-32" />
                <label class="input__label input__label--manami" for="input-32">
                     <span id = "password_span_login" class="input__label-content input__label-content--manami">Password:</span>
                </label>
            </span>

            <button class="loginButton" id='logDis' type="submit" value="Login now!">Login now!</button>
        </form>
    </div>


    <div class="regAction">
        <div class="title">Register now for free!</div>

        <div class="sign">
            <form name="RegForm" id="signup" method="post" action="../../Controllers/Account/register.php" enctype="multipart/form-data">

                <span class="input input--manami">
                    <input class="input__field input__field--manami" name="first_name" type="text" id="input-32" />
                    <label class="input__label input__label--manami" for="input-32">
                        <span id = "first_name_span" class="input__label-content input__label-content--manami">First Name:</span>
                    </label>
                </span>

               <span class="input input--manami">
                    <input class="input__field input__field--manami" name="last_name" type="text" id="input-32" />
                    <label class="input__label input__label--manami" for="input-32">
                        <span id = "last_name_span" class="input__label-content input__label-content--manami">Last Name:</span>
                    </label>
                </span>

                <span class="input input--manami">
                    <input class="input__field input__field--manami" name="email" type="text" id="input-32" />
                    <label class="input__label input__label--manami" for="input-32">
                        <span id = "email_reg" class="input__label-content input__label-content--manami">email:</span>
                    </label>
                </span>

                <span class="input input--manami">
                    <input class="input__field input__field--manami" name="password" type="password" id="input-32" />
                    <label class="input__label input__label--manami" for="input-32">
                        <span class="input__label-content input__label-content--manami">Password:</span>
                    </label>
                </span>

                <span class="input input--manami">
                    <input class="input__field input__field--manami" name="password_confirm" type="password" id="input-32" />
                    <label class="input__label input__label--manami" for="input-32">
                        <span class="input__label-content input__label-content--manami">Confirm Password:</span>
                    </label>
                </span>

                <span class="input input--manami">
                    <input class="input__field input__field--manami" name="secret_question" type="text" id="input-32" />
                    <label class="input__label input__label--manami" for="input-32">
                        <span id = "question_reg" class="input__label-content input__label-content--manami">Question:</span>
                    </label>
                </span>

                <span class="input input--manami">
                    <input class="input__field input__field--manami" name="secret_answer" type="text" id="input-32" />
                    <label class="input__label input__label--manami" for="input-32">
                        <span id = "answer_reg" class="input__label-content input__label-content--manami">Answer:</span>
                    </label>
                </span>

                <p class="imgInfo">Choose profile picture(optional).</p>

                <div class = "submit">
                  <input type="file" name="image" id="image" />
                  <input type="button" id="coverButton" value="Browse files" /> 
                </div>

                <button class="regButton"  id='regDis' type="submit" value="Register now!">Register now!</button>
            </form>
        </div>

    </div>

</div>
<script src="../Libraries/JQuery/jquery.js"></script>
<script src="../../JS/login.js"></script>