<div id="formContainer">
    <div class="form" method="post" action="../../Controllers/Account/register.php" enctype="multipart/form-data">

        <ul class="tab-group">
            <li class="tab active"><a href="#login" id="logInTab">Log In</a></li>
            <li class="tab"><a href="#signup" id="registerTab">Sign Up</a></li>
        </ul>

        <div class="tab-content">
            <div id="login">
                <h1>Welcome Back!</h1>

                <form action="../../Controllers/Account/login.php" method="post">

                    <div class="field-wrap">
<!--                         <label>Email Address</label>
 -->                        <input type="text" id="login_email" name="email" autocomplete="off" />
                    </div>

                    <div class="field-wrap">
<!--                         <label>Password</label>
 -->                        <input type="password" id="login_password" name="password" autocomplete="off" />
                    </div>

                    <p id="wrongLog">Wrong email or password</p>

                    <button type="button" id="loginButton" class="button button-block" />Log In</button>

                </form>
            </div>

            <div id="signup">
                <h1>Sign Up for Free</h1>

                <form action="../../Controllers/Account/register.php" method="post" enctype="multipart/form-data">

                    <div class="top-row">
                        <div class="field-wrap">
                            <label>First Name</label>
                            <input name="first_name" id="first_name" type="text" autocomplete="off" />
                            <p id="errorDisplay">
                                <span id='1'><!--error--></span>
                            </p>
                        </div>

                        <div class="field-wrap">
                            <label>Last Name</label>
                            <input name="last_name" id="last_name" type="text" autocomplete="off" />
                            <p id="errorDisplay">
                                <span id='2'><!--error--></span>
                            </p>
                        </div>
                    </div>

                    <div class="field-wrap">
                        <label>Email Address</label>
                        <input name="email" id="email" type="text" autocomplete="off" />
                        <p id="errorDisplay">
                            <span id='3'><!--error--></span>
                        </p>
                    </div>

                    <div class="field-wrap">
                        <label>Set A Password</label>
                        <input name="password" id="password" type="password" autocomplete="off" />
                        <p id="errorDisplay">
                            <span id='4'><!--error--></span>
                        </p>
                    </div>

                    <div class="field-wrap">
                        <label>Confirm Password</label>
                        <input name="password_confirm" id="password_confirm" type="password" autocomplete="off" />
                        <p id="errorDisplay">
                            <span id='5'><!--error--></span>
                        </p>
                    </div>

                    <div class="field-wrap">
                        <label>Secret Question<span> (optional)</span></label>
                        <input name="secret_question" id="secret_question" type="text" autocomplete="off" />
                        <p id="errorDisplay">
                            <span id='6'><!--error--></span>
                        </p>
                    </div>

                    <div class="field-wrap">
                        <label>Answer<span> (optional)</span></label>
                        <input name="secret_answer" id="secret_answer" type="text" autocomplete="off" />
                        <p id="errorDisplay">
                            <span id='7'><!--error--></span>
                        </p>
                    </div>

                    <button type="submit" class="button button-block" id="registerButton">Get Started</button>

                </form>
            </div>
        </div>
    </div>
</div>

<div id="mask"></div>