<link rel="stylesheet" type="text/css" href="CSS/HeaderFooter/header.css">
<link rel="stylesheet" type="text/css" href="CSS/Profile/profile.css">
<link rel="stylesheet" type="text/css" href="CSS/reset.css">

<script src="JS/Profile/profile.js"></script>
<script src="JS/main.js"></script>
<section>
    <div class="profile">
        <div class="profileInfo">
            <form action="Controllers/Account/profile.php" method="post" class="buttons">
              <div class="ProfileData">
                <div class="names">
                  <label>First Name</label>
                  <input type="text" id="first_name" name="first_name" value="First Name" disabled>
                  <label>Last Name</label>
                  <input class="firstName" id="last_name" type="text" name="last_name" value="Last Name"  disabled>
                  <label>Skype</label>
                  <input class="skypeName" id="skypeName" type="text" name='skypeName' value="Skype"  disabled >
                  <label>Google +</label>
                  <input class="google_acc" id="google_acc" type="email" name='google_acc' value="Google +"  disabled >
                </div>
                <div class="buttons">
                  <button class="button" id="Edit" type="button">Edit</button>
                  <button class="button" id="Cancel" type="button">Cancel</button>
                  <button class="button" id="Save" type="submit">Save</button>
                </div>
              </div>
            </form>
        </div>

        <!--<div class="labels">
                <label>First Name: <?php echo  "".$_SESSION['logged_user']['first_name']. "" ?> </label>
                <label>Second Name: <?php echo  "".$_SESSION['logged_user']['last_name']. "" ?> </label>
                <label>Email: <?php echo  "".$_SESSION['logged_user']['email']. "" ?> </label>
                <label>Rank:  Noob </label>


        </div> -->
    </div>
</section>
