<link rel="stylesheet" href="CSS/reset.css">
<link rel="stylesheet" href="CSS/root.css">
<div id="root">
  <div id="header">
    <a href="http://www.ezikpro.com">ezikpro.com</a>
    <a href="http://www.learnbulgarian.eu">learnbulgarian.eu</a>
  </div>
  <div id="main">
    <div id="english" class='col side'>
      <h3>Английски за българи</h3>
      <a href="http://www.ezikpro.com"><img src="Resources/Images/Logos/logo-bg-en.png" alt="en-logo" class='side-logo'></a>
    </div>
    <div id="logo" class='col center'>
      <img src="Resources/Images/Logos/atanasoff-logo.png" alt="logo" id="center-logo">
    </div>
    <div id="bulgarian" class='col side'>
      <h3>Bulgarian for English speakers</h3>
      <a href="#/home"><img src="Resources/Images/Logos/logo-en-bg.png" alt="bg-logo" class='side-logo'></a>
    </div>
  </div>
</div>
