<link rel="stylesheet" href="CSS/reset.css">
<link rel="stylesheet" href="CSS/root.css">
<div id="root">
  <div id="main">
    <div id="logo">
      <img src="Resources/Images/Logos/atanasoff-logo.png" alt="logo" id="center-logo">
    </div>
    <div class="language">
      <a href="#/home">
        <div>
          <img src="Resources/Images/Logos/logo-bg-en.png" alt="en-logo" class='side-logo'>
          <hr />
          <h3>Английски език за малки, големи и още по-големи момичета и момчета</h3>
        </div>
      </a>
    </div>
  </div>
</div>