<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <link rel="stylesheet" href="/AtanasovWebSiteProject/AppRoot/CSS/bootstrap/bootstrap.css">
    <script type="text/javascript" src="/AtanasovWebSiteProject/AppRoot/JS/utils.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.1.1.js"
      integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="
      crossorigin="anonymous">
    </script>
    <script>
        $.ajax({
          type: "POST",
          url: "../../../Models/ViewModels/getDifficultyLevels.php",
          success: function(data){
            var obj = JSON.parse(data);
            for (var i = 0; i < obj.length; i++) {
              $("#difficulty_level").append($('<option value=' + obj[i]["id"] + '>' + obj[i]["name"] + '</option>'));
            }
          }
        });
    </script>
    <script>
      $(document).ready(function () {
        var id = getQueryVariable("id");

        $.ajax({
          type: "POST",
          url: "../../../Models/ViewModels/getOnlineCourseById.php?id=" + id,
          success: function(data) {
            var obj = JSON.parse(data);
            $("#id").val(id);
            $("#name").attr('value', obj[0]["name"]);
            $('#description').html(obj[0]["description"]);
            $('#difficulty_level').val(obj[0]["level_id"]);
          }
        });
      });
    </script>
    <div class="emo" >
      <form method="post" action="/AtanasovWebSiteProject/AppRoot/Controllers/online_courses_controller.php">
        <div class="form-group">
          <input class="form-control" type="hidden" name="id" id="id" />
        </div>
        <div class="form-group">
          <label for="name">Име</label>
          <input class="form-control" type="text" name="name" id="name" />
        </div>
        <div class="form-group">
          <label for="description">Описание</label>
          <textarea class="form-control" style="resize: vertical;" name="description" id="description"></textarea>
        </div>
        <div class="form-group">
          <label for="difficulty_level">Ниво на трудност</label>
          <select class="form-control" id="difficulty_level" class="difficulty_level" name="difficulty_level"></select>
        </div>
        <div class="form-group">
          <input class="form-control" type="hidden" value="edit" name="action" />
        </div>
        <div class="form-group">
          <input class="btn btn-default" type="submit" value="Редактирай" />
        </div>
      </form>
    </div>
  </body>
</html>
