<link rel="stylesheet" href="CSS/details.css">
<script type="text/javascript" src="JS/utils.js"></script>
<script>
  var id = getQueryVariable("id");

  $.ajax({
    type: "POST",
    url: "Models/ViewModels/getOnlineLectureById.php?id=" + id,
    success: function(data) {
      var obj = JSON.parse(data);
      $('#title').html(obj[0]["title"]);
      $('#link').attr("src", obj[0]["video_link"].replace("watch?v=", "embed/"));
      $('#edit-btn').attr("href", "edit.html?id=" + id);
    }
  });
</script>
<div class="emo">
  <h4 id="title"></h4>
  <hr />
  <iframe id="link" frameborder="0" allowfullscreen width="80%" height="500px"
    src="">
  </iframe>
  <hr />
  <div id="operations">
    <a id="edit-btn" class="btn btn-warning">Edit</a>
  </div>
</div>
