<link rel="stylesheet" href="CSS/forms.css">
<script type="text/javascript" src="JS/utils.js"></script>
<script>
    $.ajax({
      type: "POST",
      url: "Models/ViewModels/getOnlineCourses.php",
      success: function(data){
        var obj = JSON.parse(data);
        for (var i = 0; i < obj.length; i++) {
          $("#courseId").append($('<option value=' + obj[i]["id"] + '>' + obj[i]["name"] + '</option>'));
        }
      }
    });
</script>
<script>
  var id = getQueryVariable("id");

    $.ajax({
      type: "POST",
      url: "Models/ViewModels/getOnlineLectureById.php?id=" + id,
      success: function(data){
        var obj = JSON.parse(data);
        $("#id").attr('value', id);
        $("#title").attr('value', obj[0]["title"]);
        $('#link').attr('value', obj[0]["video_link"]);
        $('#courseId').val(obj[0]["course_id"]);
      }
    });
</script>
<div class="emo">
  <form method="post" action="Controllers/online_lectures_controller.php">
    <div class="form-group">
      <input class="form-control" type="hidden" name="id" id="id" />
    </div>
    <div class="form-group">
      <label for="title">Заглавие</label>
      <input class="form-control" type="text" name="title" id="title" />
    </div>
    <div class="form-group">
      <label for="link">Видео линк</label>
      <input class="form-control" type="text" name="link" id="link" />
    </div>
    <div class="form-group">
      <label for="courseId">Курс</label>
      <select id="courseId" class="courseId form-control" name="courseId"></select>
    </div>
    <div class="form-group">
      <input class="form-control" type="hidden" value="edit" name="action" />
    </div>
    <div class="form-group">
      <input class="btn btn-default" type="submit" value="Edit" />
    </div>
  </form>
</div>
