
<link rel="stylesheet" href="CSS/list.css">
<script>
    $.ajax({
      type: "POST",
      url: "Models/ViewModels/getOnlineLectures.php",
      success: function(data){
        var obj = JSON.parse(data);

        for (var i in obj) {
          var lecture = obj[i];
          var div = $('<div class="lecture"></div>');
          var link = $('<h4>' + lecture["title"] + '</h4><a class="button" href="details.html?id=' + lecture["id"] + '">Learn more...</a><hr />');
          div.append(link);
          $('#lectures').append(div);
        }
      }
    });
</script>
<div class="emo">
  <h2>Lectures</h2>
  <hr />
  <div id="lectures">

  </div>
</div>
