#formContainer *,
#formContainer *:before,
#formContainer *:after {
    box-sizing: border-box;
}

#formContainer {
    margin: auto;
    position: absolute;
    top: 100px;
    left: 30vw;
    z-index: 7000;
}

#formContainer a {
    text-decoration: none;
    color: #1ab188;
    transition: .5s ease;
}

#formContainer a:hover {
    color: #1ab188;
}

#formContainer .form {
    background: rgba(19, 35, 47, .9);
    padding: 2%;
    width: 40vw;
    border-radius: 4px;
    box-shadow: 0 4px 10px 4px rgba(19, 35, 47, .3);
}

#formContainer .tab-group {
    list-style: none;
    padding: 0;
    margin: 0 0 40px 0;
}

#formContainer .tab-group:after {
    content: "";
    display: table;
    clear: both;
}

#formContainer li a {
    display: block;
    text-decoration: none;
    padding: 4%;
    background: rgba(160, 179, 176, .25);
    color: #a0b3b0;
    font-size: 1.5em;
    float: left;
    width: 50%;
    text-align: center;
    cursor: pointer;
    transition: .5s ease;

}

#formContainer li a:hover {
    background: rgba(160, 179, 176, .5);
    color: #fff;
}

#formContainer .active a {
    background: #1ab188;
    color: #fff;
}

#formContainer .active a:hover {
    background: #1ab188;
    color: #fff;
}

#formContainer .tab-content>div:last-child {
    display: none;
}

#formContainer h1 {
    text-align: center;
    color: #fff;
    font-weight: 300;
    font-size: 1.5em;
    margin: 0 0 6%;
}

#formContainer label {
    position: absolute;
    transform: translateY(36%);
    left: 13px;
    color: rgba(256, 256, 256, .5);
    transition: all 0.25s ease;
    pointer-events: none;
    font-size: 1.3em;
}

#formContainer label.active {
    transform: translateY(36%);
    left: 2px;
    font-size: 1.2em;
}

#formContainer .top-row label.active {
    transform: translateY(26%);
}

#formContainer label.highlight {
    color: #fff;
}

#formContainer input {
    font-size: 1.3em;
    display: block;
    width: 100%;
    padding: 1% 2%;
    background: none;
    background-image: none;
    border: 1px solid #a0b3b0;
    color: #fff;
    border-radius: 0;
    transition: border-color .25s ease, box-shadow .25s ease;
}

#formContainer input:focus {
    border-color: #1ab188;
}

#formContainer .field-wrap {
    position: relative;
    margin-bottom: 40px;
}

#formContainer .top-row:after {
    content: "";
    display: table;
    clear: both;
}

#formContainer .top-row>div {
    float: left;
    width: 48%;
    margin-right: 4%;
}

#formContainer .top-row>div:last-child {
    margin: 0;
}

#formContainer .button {
    border: 0;
    outline: none;
    border-radius: 0;
    padding: 3% 0;
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .1em;
    background: #1ab188;
    color: #fff;
    transition: all.5s ease;
    -webkit-appearance: none;
}

#formContainer .button:hover,
#formContainer .button:focus {
    background: #1ac188;
    cursor: pointer;
}

#formContainer .button-block {
    display: block;
    width: 100%;
}

#mask {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 6000;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .75);
}

#errorDisplay {
    transition: .5s ease;
    position: absolute;
    right: 2px;
    transform: translateY(2px);
    font-size: 1.4em;
    color: #f53412;
}

.errorField,
.errorField:focus {
    transition: .5s ease;
    border-color: #f53412 !important;
}

#wrongLog {
    font-size: 1.4em;
    color: #f53412;
    transition: .5s ease;
    margin-bottom: 10px;
}

.bgColor {
    transition: .5s ease;
    color: rgba(19, 35, 47, .9) !important;
    opacity: 0;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    cursor: default;
}