@font-face {
 font-family: "GothamW";
 src: url(fonts/GOTHW___.ttf);
} 

.logForm {
	float:left;
	width:50%;
	border: 2px solid grey;
    border-radius: 5px;
    padding:1%;
    margin:7% 25%;
}
.changeForm {
	width:100%;
	float:left;
	font-size:1.2vw;
}

.positionLeft {
	background-color: #C0C0C0;
	height:3vw;
	margin-right:3%;
	margin-left:2%;
	border: none;
  	color:#101010;
	width:45%;
	font-size:1.2vw;
	float:left;
	border-radius:2px;
	transition: background-color 0.5s ease;
}
.positionLeft:hover {
	background-color:#101010;
	color:#FFCC00;
	transition: background-color 0.5s ease;
}

.positionRight {
	background-color: #C0C0C0;
	height:3vw;
	margin-left:3%;
	margin-right:2%;
	border: none;
  	color:#101010;
	width:45%;
	font-size:1.2vw;
	float:left;
	border-radius:2px;
	transition: background-color 0.5s ease;
}
.positionRight:hover {
	background-color:#101010;
	color:#FFCC00;
	transition: background-color 0.5s ease;
}


.logAction {
	margin-top:5%;
	float:left;
	width:100%;
	text-align: center;
}

.title {
	font-size:3vw;
	font-color: #101010;
	width:100%;
	margin-bottom:3%;
	font-family: "GothamW";
	font-weight:bold;
}

#logDis {
	width:50%;
	border:none;
	color:#101010;
	font-size:1.2vw;
	margin-top:4%;
	padding:1.7% 0px;
	border-radius:2px;
	transition: background-color 0.5s ease;
}

#logDis:hover {
	background-color:#101010;
	color:#FFCC00;
	transition: background-color 0.5s ease;
}

.regAction {
	display:none;
	margin-top:5%;
	float:left;
	width:100%;
	text-align: center;
}

.regButton {
	margin-left:0px;
	background-color: #C0C0C0;
}

.loginButton {
	margin-left:0px;
	background-color: #C0C0C0;
}

#regDis {
	width:50%;
	border:none;
	color:#101010;
	font-size:1.2vw;
	margin-top:4%;
	padding:1.7% 0px;
	border-radius:2px;
	transition: background-color 0.5s ease;
}

#regDis:hover {
	background-color:#101010;
	color:#FFCC00;
	transition: background-color 0.5s ease;
}

.imgInfo {
	color:#A9A9A9;
	text-align:left;
	margin:0px 20%;
	margin-top:4%;
	font-size:1vw;
	margin-bottom:2%;
	padding: 0 1.5vw;
}

/* File input */
#image {
	display:none;
}

#coverButton {
	font-family: "GothamW";
	font-weight:bold;
	border-radius:2px;
	height:2.5vw;
	font-size:1.2vw;
	width: 40%;
	border: none;
	transition: background-color 0.5s ease; 
}
#coverButton:hover {
	background-color: #c9302c;
	color: #fff;
	transition: background-color 0.5s ease;
}


/*Input fields*/
.input {
	position: relative;
	z-index: 1;
	display: inline-block;
	margin: 1em;
	/*max-width: 350px;*/
	width:27vw;
	/*width: calc(100% - 2em);*/
	vertical-align: top;
}

.input__field {
	position: relative;
	display: block;
	float: right;
	padding: 0.8em;
	font-size:1.5vw;
	width: 60%;
	border: none;
	border-radius: 0;
	background: #f0f0f0;
	color: #aaa;
	font-weight: 400;
	font-family: "Avenir Next", "Helvetica Neue", Helvetica, Arial, sans-serif;
	-webkit-appearance: none; /* for box shadows to show on iOS */
}

.input__field:focus {
	outline: none;
}

.input__label {
	display: inline-block;
	float: right;
	padding: 0 1.5vw;
	width: 40%;
	color: #696969;
	font-size:1.5vw;
	font-weight: bold;
	font-size: 80%;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.input__label-content {
	position: relative;
	display: block;
	font-size:1.5vw;
	padding: 1.6vw 0;
	width: 100%;
}

.graphic {
	position: absolute;
	top: 0;
	left: 0;
	fill: none;
}

.icon {
	color: #ddd;
	font-size: 150%;
}

.input--manami {
	overflow: hidden;
}

.input__field--manami {
	width: 100%;
	background: transparent;
	padding: 0.7vw;
	margin-bottom: 2vw;
	color: #f9f7f6;
	z-index: 100;
	opacity: 0;
}

.input__label--manami {
	width: 100%;
	position: absolute;
	text-align: left;
	padding: 0.7vw 0;
	pointer-events: none;
	font-size: 1vw;
}

.input__label--manami::before,
.input__label--manami::after {
	content: '';
	position: absolute;
	width: 100%;
	left: 0;
}

.input__label--manami::before {
	height: 100%;
	background: #A8A8A8;
	top: 0;
	-webkit-transform: translate3d(0, -100%, 0);
	transform: translate3d(0, -100%, 0);
	-webkit-transition: -webkit-transform 0.2s;
	transition: transform 0.2s;
}

.input__label--manami::after {
	height: 2px;
	background: #A8A8A8;
	top: 100%;
	-webkit-transition: opacity 0.2s;
	transition: opacity 0.2s;
}

.input__label-content--manami {
	padding: 0;
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
	-webkit-transition: -webkit-transform 0.2s, color 0.2s;
	transition: transform 0.2s, color 0.2s;
}

.input__field--manami:focus,
.input--filled .input__field--manami {
	opacity: 1;
	-webkit-transition: opacity 0s 0.2s;
	transition: opacity 0s 0.2s;
}

.input__label--manami::before,
.input__label--manami::after,
.input__label-content--manami,
.input__field--manami:focus,
.input--filled .input__field--manami {
	-webkit-transition-timing-function: cubic-bezier(0, 0.25, 0.5, 1);
	transition-timing-function: cubic-bezier(0, 0.25, 0.5, 1);
}

.input__field--manami:focus + .input__label--manami::before,
.input--filled .input__label--manami::before {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.input__field--manami:focus + .input__label--manami::after,
.input--filled .input__label--manami::after {
	opacity: 0;
}

.input__field--manami:focus + .input__label--manami .input__label-content--manami,
.input--filled .input__label--manami .input__label-content--manami {
	color: #cbc4c6;
	-webkit-transform: translate3d(0, 2.1em, 0) scale3d(0.65, 0.65, 1);
	transform: translate3d(0, 2.1em, 0) scale3d(0.65, 0.65, 1);
}
