<link rel="stylesheet" href="CSS/bootstrap/bootstrap.css">
<script type="text/javascript" src="JS/utils.js"></script>
<script>
  var id = getQueryVariable("id");

  $.ajax({
    type: "POST",
    url: "Models/ViewModels/getDifficultyLevelById.php?id=" + id,
    success: function(data){
      var obj = JSON.parse(data);
      $('#title').html(obj[0]["name"]);
      $('#edit-btn').attr("href", "#/levels/" + id + "/edit");
      $('#delete-btn').attr("href", "delete.html?id=" + id);
    }
  });

  $.ajax({
    type: "POST",
    url: "Models/ViewModels/getCoursesByLevel.php?level=" + id,
    success: function(data){
      var obj = JSON.parse(data);

      for (var i in obj) {
        var course = obj[i];
        var div = $('<div class="course"></div>');
        var link = $('<a href="#/courses/' + course['id'] + '/details">' + course["name"] + '</a>');
        div.append(link);
        $('#courses').append(div);
      }
    }
  });

  $.ajax({
    type: "GET",
    url: "Controllers/Account/checkRole.php",
    success: function(role){
      if (role == 'admin') {
        var adminActions = $('<hr /><div id="operations"><a class="btn btn-warning" href="#/levels/' + id + '/edit">Редактирай</a><a class="btn btn-danger" href="#/levels/' + id + '/delete">Изтрий</a></div>');
        $('.emo').append(adminActions);
      }
    }
  });
</script>
<div class="emo">
  <h4 id="title"></h4>
  <hr />
  <div id="courses">

  </div>
</div>
