<link rel="stylesheet" href="CSS/bootstrap/bootstrap.css">
<script>
    $.ajax({
      type: "POST",
      url: "Models/ViewModels/getDifficultyLevels.php",
      success: function(data){
        var obj = JSON.parse(data);

        for (var i in obj) {
          var level = obj[i];
          var div = $('<div class="level"></div>');
          var link = $('<a href="details.html?id=' + level["id"] + '">' + level["name"] + '</a>');
          div.append(link);
          $('#levels').append(div);
        }
      }
    });
</script>
<div class="emo">
  <div id="levels">

  </div>
</div>
