<link rel="stylesheet" href="CSS/details.css">
<script>
    $.ajax({
      type: "POST",
      url: "Models/ViewModels/getDifficultyLevels.php",
      success: function(data){
        var obj = JSON.parse(data);

        for (var i in obj) {
          var level = obj[i];
          var div = $('<div class="level">' + level["name"] + '</div>');
          var link = $('<a href="#/levels/' + level['id'] + '/details"></a>');
          link.append(div);
          $('#levels').append(link);
        }
      }
    });
</script>
<div class="emo">
  <h3>Difficulty Levels</h3>
  <br />
  <div id="levels">

  </div>
</div>
