.nav-ul {
    overflow: hidden;
    background-color: #101010;
    color: #fff;
    list-style-type: none;
    opacity: 0.9;
    font-size: 1.4vw;
}
.nav-ul li {
    float: left;
    padding: 1% 7%;

}
.nav-ul a {
    text-decoration: none;
    color: #FFCC00;
}
.nav-ul a:hover{
    border-bottom: 2px solid white;
    border-top: 2px solid white;
    padding-bottom: 13px;
    padding-top: 13px;
    transition:0.2s;
}