<script src="JS/libs/moment.min.js"></script>
<script type="text/javascript" src="JS/libs/fullcalendar.js"></script>
<script type="text/javascript" src="JS/libs/bootstrap.js"></script>
<script type="text/javascript" src="JS/utils.js"></script>
<link rel="stylesheet" href="CSS/calendar/fullcalendar.css">
<link rel="stylesheet" href="CSS/bootstrap/bootstrap.css">
<script type="text/javascript">
  function deleteLecture(id) {
    if (confirm('Delete lecture?')) {
      $.ajax({
        type: "POST",
        url: "Controllers/lectures_controller.php",
        data: { 'action': 'delete', 'id': id },
        success: function(result) {
          // TO-DO: redirect
        }
      });
    }
  }

  $(document).ready(function() {

    $('#calendar').fullCalendar({
        events: 'Models/ViewModels/getLectures.php',
        header: {
          left: 'prev,next today addEvent',
          center: 'title',
          right: 'month,agendaWeek,agendaDay'
        },
        weekNumbers: true,
        eventClick: function(event) {
          $('#events-modal').modal();
          $('#title').html("&nbsp;" + event.title);
          $('#start').html('<i class="fa fa-calendar-plus-o"></i>&nbsp;<b>Start</b>: ' + event.date + ' ' + event.startTime);
          $('#end').html('<i class="fa fa-calendar-plus-o"></i>&nbsp;<b>End</b>: ' + event.date_end + ' ' + event.endTime);
          $('#description').html('<i class="fa fa-calendar-check-o"></i>&nbsp;<b>Description</b>: ' + event.description);
          $('#course').html('<i class="fa fa-calendar-check-o"></i>&nbsp;<b>Course</b>: <a href="#/courses/' + event.courseId + '/details">' + event.name + '</a>');
          $('#book').attr('href', '#/lectures/' + event.id + '/book');

          var now = moment();
          if (now.isAfter(event.end)) {
            $('#book').hide();
          }

          $.ajax({
            type: "GET",
            url: "Controllers/Account/checkRole.php",
            success: function(role){
              if (role == 'admin') {
                var admin = $('#admin-ops');
                admin.html('');
                var adminActions = $('<hr /><div><a class="btn btn-warning" href="#/lectures/' + event.id + '/edit">Edit</a><button class="btn btn-danger" onclick="deleteLecture(' + event.id + ')">Delete</button></div>');
                admin.append(adminActions);
              }
            }
          });

          $.ajax({
            type: "GET",
            url: "Models/ViewModels/checkIfAlreadyBooked.php?id=" + event.id,
            success: function(data) {
              if (JSON.parse(data).length > 0) {
                $('#book').hide();
              }
            }
          });

          $('#editLecture').attr('href', '#/lectures/' + event.id + '/edit');
        }
    });

    var date = getQueryVariable('date');

    if (date)
    {
      $('#calendar').fullCalendar('gotoDate', date);
    }
  });
</script>

<div class="modal fade" id="events-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h2 id="title"><i class="fa fa-file"></i></h2>
            </div>
            <div class="modal-body" style="height: 320px" id="modal-body">
              <div id="event-meta" class="container">
                <h4 id="start"><i class="fa fa-calendar-plus-o"></i>&nbsp;<b>Start</b>: </h4>
                <h4 id="end"><i class="fa fa-calendar-check-o"></i>&nbsp;<b>End</b>: </h4>
                <br>
                <h4 id="description"><i class="fa fa-calendar-check-o"></i>&nbsp;<b>Description</b>: </h4>
                <br>
                <h4 id="course"><i class="fa fa-calendar-check-o"></i>&nbsp;<b>Course</b>: </h4>
              </div>
            </div>
            <div style="text-align: right;" id="admin-ops"></div>
            <div class="modal-footer">
              <a class="btn btn-default" id="book">Book a seat</a>
              <a href="#" data-dismiss="modal" class="btn btn-default">Close</a>
            </div>
        </div>
    </div>
</div>
<div id="calendar">
</div>
