<link rel="stylesheet" href="CSS/forms.css">

<script type="text/javascript" src="JS/utils.js?version=1"></script>
<script src="JS/AjaxCalls/editLecture.js?version=1"></script>

<div class="emo">
  <form method="post" action="Controllers/Lectures/lectures_controller.php">
    <div class="form-group">
      <input class="form-control" type="hidden" name="id" id="id" />
    </div>
    <div class="form-group">
      <label for="title">Name</label>
      <input class="form-control" type="text" name="title" id="title" />
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea class="form-control" style="resize: vertical;" name="description" id="description"></textarea>
    </div>
    <div class="form-group">
      <label for="date">Start Date</label>
      <input class="form-control" type="text" name="date" id="date" />
    </div>
    <div class="form-group">
      <label for="start">Start Time</label>
      <input class="form-control" type="time" name="start" id="start" />
    </div>
    <div class="form-group">
      <label for="end_date">End Date</label>
      <input class="form-control" type="text" name="date_end" id="date_end" />
    </div>
    <div class="form-group">
      <label for="end">End Time</label>
      <input class="form-control" type="time" name="end" id="end" />
    </div>
    <div class="form-group">
      <input class="form-control" type="hidden" value="edit" name="action" />
    </div>
    <div class="form-group">
      <input class="btn btn-default" type="submit" value="Edit" />
    </div>
  </form>
</div>
