<link rel="stylesheet" href="CSS/forms.css">
<script type="text/javascript" src="JS/utils.js?version=1"></script>
<script src="JS/AjaxCalls/editPost.js?version=1"></script>
<script src="JS/Posts/changeInputType.js?version=1"></script>

<div class="emo">
  <form method="post" action="Controllers/Posts/posts_controller.php" enctype="multipart/form-data">
    <div class="form-group">
      <input type="hidden" name="id" id="id" />
    </div>
    <div class="form-group">
      <label for="type">Type</label>
      <select class="form-control" name="type" id="type">
        <option value="0">Text</option>
        <option value="1">Video</option>
        <option value="2">Image</option>
      </select>
    </div>
    <div class="form-group" id="content-div">
      <label for="content">Text/Video Link/Image Source</label>
      <textarea class="form-control" style="resize: vertical;" name="content" id="content"></textarea>
    </div>
    <div class="form-group">
      <label for="index">Index</label>
      <input type="number" class="form-control" name="index" id="index" />
    </div>
    <div class="form-group">
      <input class="form-control" type="hidden" value="edit" name="action" />
    </div>
    <div class="form-group">
      <input class="btn btn-default" type="submit" value="Edit" />
    </div>
  </form>
</div>
