ul {
    list-style-type: none;
    overflow: hidden;
    background-color: transparent;
}

nav li {
    float: right;
    margin: 1.5%;
}

nav li a {
    display: block;
    color: white;
    text-decoration: none;
}

nav h1 {
    float: left;
    color: white;
    margin: 1.5%;
}

.container {
    margin: 0 auto;
}

section.module:last-child {
    margin-bottom: 0;
}

section.module-1 p {
    margin-bottom: 40px;
    font-size: 1em;
    font-weight: 300;
}

section.module-1 p:last-child {
    margin-bottom: 0;
}

section.module-1.content {
    padding: 40px 0;
}

section.module-1.parallax {
    height: 20vw;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

section.module-1.parallax-1 {
    background-image: url("../../Resources/Images/Home/cat-picture.jpg");
}

.module-1:after {
    content: '';
    display: block;
    position: absolute;
    z-index: 2;
}

.rows {
    text-align: center;
    width: 33%;
    float: left;
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}

.footer {
    padding-top: 8%;
    padding-bottom: 8%;
    color: white;
    margin: 0;
}
.background{
    background-color:rgba(0,0,0,0.5);
    padding-bottom: 4.3%;
}
.facebook {
    background-image: url("../../Resources/Images/Footer/facebook.jpg");
    background-attachment: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 8%;
    padding-bottom: 4%;
    margin-left: 2%;
    border: 1px solid white;
    border-radius: 30%;
    box-shadow: black 1px 1px 1px 1px;
}

.google {
    background-image: url("../../Resources/Images/Footer/google.jpg");
    background-attachment: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 8%;
    padding-bottom: 4%;
    margin-left: 2%;
    border: 1px solid white;
    border-radius: 30%;
    box-shadow: black 1px 1px 1px 1px;
}

.instagram {
    background-image: url("../../Resources/Images/Footer/instagram.jpg");
    background-attachment: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 8%;
    padding-bottom: 4%;
    margin-left: 2%;
    border: 1px solid white;
    border-radius: 30%;
    box-shadow: black 1px 1px 1px 1px;
}

.skype {
    background-image: url("../../Resources/Images/Footer/skype.jpg");
    background-attachment: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 8%;
    padding-bottom: 4%;
    margin-left: 2%;
    border: 1px solid white;
    border-radius: 30%;
    box-shadow: black 1px 1px 1px 1px;
}

.youtube {
    background-image: url("../../Resources/Images/Footer/youtube.jpg");
    background-attachment: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 8%;
    padding-bottom: 4%;
    margin-left: 2%;
    border: 1px solid white;
    border-radius: 30%;
    box-shadow: black 1px 1px 1px 1px;
}

.facebook:hover,
.skype:hover,
.google:hover,
.instagram:hover,
.skype:hover,
.youtube:hover {
    padding-left: 10%;
    padding-top: 2%;
    transition: 0.3s;
}

.contacts {
    margin-bottom: 2%;
}

hr {
    border-top: 1px solid black;
}

footer p {
    color: white;
}

h3 {
    color: #4d5968;
    text-transform: uppercase;
    font-weight: bold;
}

label {
    color: #4d5968;
}

.footer p {}