html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;    
    vertical-align: baseline;
}

ul {
    list-style-type: none;
    overflow: hidden;
    background-color: transparent;
}

nav li {
    float: right;
    margin: 1.5%;
}

nav li a {
    display: block;
    color: white;
    text-decoration: none;
}

nav h1{
    float: left;
    color: white;
    margin: 1.5%;
}

.container {
  margin: 0 auto;
}

section.module:last-child {
  margin-bottom: 0;
}

section.module-1 p {
  margin-bottom: 40px;
  font-size: 16px;
  font-weight: 300;
}
section.module-1 p:last-child {
  margin-bottom: 0;
}
section.module-1.content {
  padding: 40px 0;
}
section.module-1.parallax {
  height: 20vw;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
section.module-1.parallax-1 {
  background-image: url("https://static.independent.co.uk/s3fs-public/thumbnails/image/2013/01/24/12/v2-cute-cat-picture.jpg");
}
.module-1:after{
     content: '';
  display: block;
  position: absolute;
  z-index: 2;
}
.rows{
    text-align: center;
    width: 33%;
    float: left;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);


}

.footer{
    padding-top: 8%;
    padding-bottom: 8%;
    color: white;
}

.facebook{
        background-image:url("../img/facebook.jpg" );
        background-attachment: center;
        background-position: center;
        background-repeat:no-repeat;
        background-size: cover;
        padding-left:6%;
        padding-bottom: 2%;
        margin-left: 2%;
        border: 1px solid white;
        border-radius: 30%;
        box-shadow: black 1px 1px 1px 1px ;

}

.google{
        background-image:url("../img/google.jpg");
        background-attachment: center;
        background-position: center;
        background-repeat:no-repeat;
        background-size: cover;
        padding-left:6%;
        padding-bottom: 2%;
        margin-left: 2%;
        border: 1px solid white;
        border-radius: 30%;
        box-shadow: black 1px 1px 1px 1px;


}

.instagram{
        background-image:url("../img/instagram.jpg");
        background-attachment: center;
        background-position: center;
        background-repeat:no-repeat;
        background-size: cover;
        padding-left:6%;
        padding-bottom: 2%;
        margin-left: 2%;
        border: 1px solid white;
        border-radius: 30%;
        box-shadow: black 1px 1px 1px 1px;


}

.skype{
        background-image:url("../img/skype.jpg");
        background-attachment: center;
        background-position: center;
        background-repeat:no-repeat;
        background-size: cover;
        padding-left:6%;
        padding-bottom: 2%;
        margin-left: 2%;
        border: 1px solid white;
        border-radius: 30%;
        box-shadow: black 1px 1px 1px 1px;

}

.youtube{
        background-image:url("../img/youtube.jpg");
        background-attachment: center;
        background-position: center;
        background-repeat:no-repeat;
        background-size: cover;
        padding-left:6%;
        padding-bottom: 2%;
        margin-left: 2%;
        border: 1px solid white;
        border-radius: 30%;
        box-shadow: black 1px 1px 1px 1px;

}

.facebook:hover,.skype:hover,.google:hover,.instagram:hover,.skype:hover,.youtube:hover{
    padding-left: 8%;
    padding-top: 2%;
    transition:0.3s;
}

.contacts{
    margin-bottom: 2%;


}

hr {
    border-top: 1px solid black;
}
footer p{
    color: white;

}

h3{
  color: #4d5968;
  text-transform: uppercase;
  font-weight: bold;
}

label{
      color: #4d5968;

}