nav {
    width: 100%;
    position: absolute;
}

nav ul {
    list-style-type: none;
    overflow: hidden;
    background-color: transparent;
}

nav li {
    float: right;
    margin: 1.5%;
}

nav li a,
nav li p {
    display: block;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

nav h1 {
    float: left;
    color: white;
    margin: 1.5%;

}

.container {
    margin: 0 auto;
}

section.module:last-child {
    margin-bottom: 0;
}

section.module p {
    margin-bottom: 40px;
    font-size: 1em;
    font-weight: 300;
}

section.module p:last-child {
    margin-bottom: 0;
}

section.module.content {
    padding: 40px 0;
}

section.module.parallax {
    height: 67.5vh;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
section.module.parallax-5 {
    height: 27vh;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

section.module.parallax h1 {
  color: rgba(255, 255, 255, 0.8);
  font-size: 3em;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

section.module.parallax-1 {
    background-image: url("https://static.independent.co.uk/s3fs-public/thumbnails/image/2013/01/24/12/v2-cute-cat-picture.jpg");
}

section.module.parallax-5 {
    background-image: url("https://static.independent.co.uk/s3fs-public/thumbnails/image/2013/01/24/12/v2-cute-cat-picture.jpg");
}

.blackLine {
    position: relative;
    top: 53vh;
    background: rgba(0, 0, 0, 0.5);
    height: 14.5vh;
    min-height: 8vh;
    z-index: 500;
}

.banner {
    width: 98%;
    position: relative;
}

.banner h2 {
    padding: 2%;
    padding-bottom: 0;
    font-size: 6vh;
    color: white;
    float: left;
}

.banner p {
    width: 100%;
    font-size: 4vh;
    color: white;
    padding-top: 0;
    padding-left: 2%;
    padding-bottom: 5%;
    float: left;
}

.button {
    background-color: transparent;
    border: 1px #7e8895 solid;
    border-radius: 4px;
    color: #7e8895;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-right: 5%;
    padding-left: 5%;
    cursor: pointer;
    text-decoration: none;
}

.button:hover {
    background-color: #d3d3d3;
    transition: 0.2s;
}

.scroll {
    background-color: black;
    transition: 0.7s;
}

.nav-scroll {
    position: fixed;
    z-index: 1000;
}

.dynamic-1{
    color: white;
    float:left;
    margin-left: 5%;
}


/*@media all and (min-width: 600px) {
  section.module h2 {
    font-size: 42px;
  }
  section.module p {
    font-size: 20px;
  }
  section.module.parallax h1 {
    font-size: 96px;
  }
}
@media all and (min-width: 960px) {
  section.module.parallax h1 {
    font-size: 160px;
  }
}*/