* {
  font-family: sans-serif;
}

.rows-1 {
    text-align: center;
    width: 36%;
    float: left;
    /*    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);*/
    margin-bottom: 2%;
}

.rows-2 {
    text-align: center;
    width: 56%;
    float: left;
    /*    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);*/
    margin-bottom: 2%;
}

.row {
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 5%;
    float: left;
    border-bottom: 1px rgba(144, 144, 144, 0.25) solid;
    padding-bottom: 2%;
}

#container {
    margin: 0 auto;
    overflow: hidden;
}

section.module.content {
    padding: 40px 0;
}

section.module.parallax-2 {
    height: 60%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

section.module.parallax h3 {
    color: rgba(255, 255, 255, 0.8);
    font-size: 48px;
    line-height: 600px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

section.module.parallax-2 {
    background-image: url("https://static.independent.co.uk/s3fs-public/thumbnails/image/2013/01/24/12/v2-cute-cat-picture.jpg");
}

.image {
    background-image: url("../../Resources/Images/VideoCovers/video-tutorials.png");
    float: left;
    padding: 8%;
    background-attachment: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px black solid;
    border-radius: 6px;
    margin-left: 2%;
}

.rows-3 {
    text-align: center;
    width: 24%;
    float: left;
    /*    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);*/
    margin-bottom: 2%;
    margin-left: 3%;
}

#secondImage {
    margin-left: 11%;
}

.video {
    overflow: hidden;
}

p {
    color: #7e8895;
}
