html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

.rows-1{

    text-align: center;
    width: 36%;
    float: left;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
    margin-bottom: 2%;



}

.rows-2{

    text-align: center;
    width: 56%;
    float: left;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
    margin-bottom: 2%;

    
}

.row{
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 5%;
    float: left;
    border-bottom: 1px rgba(144, 144, 144, 0.25) solid ;
    padding-bottom: 2%;

}

.container {
  margin: 0 auto;
  overflow: hidden;

}



section.module.content {
  padding: 40px 0;
}
section.module.parallax {
  height: 60%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

section.module.parallax h1 {
  color: rgba(255, 255, 255, 0.8);
  font-size: 48px;
  line-height: 600px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
section.module.parallax-2 {
  background-image: url("https://static.independent.co.uk/s3fs-public/thumbnails/image/2013/01/24/12/v2-cute-cat-picture.jpg");
  

}


