ul {
    list-style-type: none;
    overflow: hidden;
    background-color: transparent;
}

nav li {
    float: right;
    margin: 1.5%;
}

nav li a,
nav li p {
    display: block;
    color: white;
    text-decoration: none;
}

nav h1 {
    float: left;
    color: white;
    margin: 1.5%;
}
