
.profile{
   /* background-image: url("../img/index.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;*/

    width: 70%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 6px 8px 0 rgba(0,0,0,0.24),0 8.5px 25px 0 rgba(0,0,0,0.19);
    background-color: #fff;
    padding-top: 1%;
    padding-bottom: 1%;
    background-attachment: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;


}

#header {
  margin-left: auto;
  margin-right: auto;
  font-family: sans-serif;
}

.avatar{
    border: 1px black solid;
    margin-left: 0.3%;
    border-radius: 3%;
    width: 75%;
    transform: rotate(-3deg);
    }

/*label{
    margin-left: 10%;
    text-shadow: -1.2px 0 black, 0 1.2px black, 1.2px 0 black, 0 -1.2px black;
    font-size: 1.5vw;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
    float: left;


}*/

.labels{
    margin-top: 5%;
    text-shadow: 1px 1px 1px white;
}

.profileHeader{
    width: 70%;
}

.profileHeader h2{
    margin-left: 33%;
    font-size: 3.5em;
    font-family: "GothamW";
    font-weight: normal;
    text-align: center;

}

.profileInfo{
    width: 60%;
}

.profileData{
  color: #333;
}


input[type="text"]:disabled {
    width: 85%;
    height: 4.5%;
    color: black;
    background-color: transparent;
    margin-left: 8%;
    margin-bottom: 3%;
    font-size: 1.5em;
    border: 1px black solid;
    padding-left: 1%;
    border: 1px transparent solid;
}

input[type="email"]:disabled {
    width: 85%;
    height: 4.5%;
    color: black;
    background-color: transparent;
    margin-left: 8%;
    margin-bottom: 3%;
    font-size: 1.5em;
    border: 1px black solid;
    padding-left: 1%;
    border: 1px transparent solid;
}

input[type="password"]:disabled {
    width: 85%;
    height: 4.5%;
    color: black;
    background-color: transparent;
    margin-left: 8%;
    margin-bottom: 3%;
    font-size: 1.5em;
    border: 1px black solid;
    padding-left: 1%;
    border: 1px transparent solid;
}




input{
    width: 65%;
    height: 4.5%;
    color: black;
    background-color: white;
    margin-left: 8%;
    margin-bottom: 3%;
    font-size: 1.5em;
    border: 1px black solid;
    padding-left: 1%;

}

textarea:focus, input:focus{
    outline: none;
}

::-webkit-input-placeholder {
   color: black;

}

:-moz-placeholder {
   color: black;
}

::-moz-placeholder {
   color: black;
}

:-ms-input-placeholder {
   color: black;
}

.button{
  background-color: #5d836e;
  color: white;
  padding-top: 3%;
  padding-bottom: 3%;
  width: 20%;
  cursor: pointer;
  text-decoration: none;
  margin-left: 2%;
  border-width: 0;
}

.button:first-of-type{
  margin-left: 0;
}


.buttons {
    width: 100%;
    margin-left: 8%;
    margin-top: 5%;
    margin-bottom: 5%;
}

#Cancel, #Save {
  display: none;
}

#Cancel {
  margin-left: 0;
}

.button:hover{
  background-color: #5d836e ;
  box-shadow: none;
  transition:0.2s;
  color: black;
}

.button:active {
  box-shadow: 0 3px #666;
  transform: translateY(1px);
}
/*
.ProfileData {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}*/

.ProfileData label{
  color: #333;
  width: 100%;
  margin-left: 8%;
  font-size: 1.2em;
  padding-bottom: 1%;
}

.ProfileData input {
  color: #333;
}

#arrow {
  text-align: center;
  width: 11em;
  height: 2.2em;
  background-color: rgba(255,255,255,0.4);
  position: relative;
  margin-top: 2%;
}

#arrow:after {
  content: '';
  position: absolute;
  top: 0px;
  left: 11.0em;
  width: 0;
  height: 2;
  border: 1.1em solid transparent;
  border-left: 5em solid rgba(255,255,255,0.4);
  }

  #arrow_label{
    position: relative;
    top:20%;
  }

  .arrow_1:hover{
    margin-left: 5%;
    transition:0.4s;

  }

   .arrow_2:hover{
    margin-left: 5%;
    transition:0.4s;
  }



nav{
background-color:rgba(0, 0, 0, 1);
}

.names label{
  font-size: 1.5em;
}

.password label{
  font-size: 1.5em;
}

.control_1{
  font-size: 1.1em;
}

.control_2{
  font-size: 1.1em;
}
